{% extends "base.html" %}

{% block title %}
	About me
{% endblock %}

{% block content %}
<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Немного о себе</h1>
      <p class="fs-5 text-body-secondary">Ну совсем немного. Хочется учиться, творить и развиваться.</p>
      <p class="fs-5 text-body-secondary">Желание создавать нечто полезное было всегда.</p>
      <p class="fs-5 text-body-secondary">Хочу достичь определенных высот.</p>
    </div>
</div>
{% endblock %}
