{% extends "base.html" %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class='container'>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">{{ article.title }}</h1>
    </div>

    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>

</div>
{% endblock %}
